# IDE/Editor
.vscode/
.idea/

# Python caches & tooling
**/__pycache__/
*.pyc
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.pytype/
.coverage
coverage.xml
htmlcov/
__pypackages__/

# Build/dist
dist/
build/
*.egg-info/

# Logs
*.log

# Envs & OS
.venv/
.env
.env*
!.env.example
.DS_Store

# Streamlit
.streamlit/

