# IDE/Editor
.vscode/
.idea/

# Python caches & tooling
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.coverage
coverage.xml
htmlcov/
.pytype/
__pypackages__/

# Build/dist
dist/
build/
*.egg-info/

# Logs
*.log
