* text=auto
*.py   text eol=lf
*.csv  text eol=lf
*.md   text eol=lf
*.http text eol=lf
*.yml  text eol=lf
*.yaml text eol=lf
*.png binary
*.jpg binary
*.ipynb binary
*.sh  text eol=lf
*.bat text eol=crlf
